.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj
weightflow_report_*.html
*.tar.gz
.DS_Store
.httr-oauth
.quarto
docs
inst/doc
/doc/
/Meta/

vignettes/articles/ech_data/

vignettes/articles/ech-case-study_files/

ech_data/

**/ech_data/

vignettes/articles/*_files/
